# Version
src/_version.py

# PyCharm
.idea/deployment.xml
.idea/misc.xml
.idea/workspace.xml
.idea/libraries/
.idea/cmake-uvision-syncer.iml
.idea/other.xml

# Python
__pycache__
*.py[cdo]

# VSCode
.vscode

# tox
.tox
